
#crypto{
    width: 500px;
    height: 650px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-top: 0px;
}
#container{
    margin:5px auto;
    max-width:1280px;
    width:95%

}

.summary{
    color: #4534b3;
    font-weight: 500;
    background: #E3E2F3;
    padding: 5px 5px 5px 5px;
}

.header-nav{
    padding: 1px 2px 60px 2px;
    background-color: #e76b12;
    color: white;
    border-bottom: 1px solid black;
}
.title{
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    float: left;
}
#result{
    font-size: 15px;
}


.api-doc{
    font-size: 13px;
    padding: 0px 3px 3px 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top: 0.5px solid black;
}



nav {
    height: 65px;
}
.heading-rows-style{
    font-size: 15px;
    font-weight: 700;
    padding: none;
}


.cursor-style{
    cursor: pointer;
}


tbody{
    font-weight: 600;
}
p.last-update {
    margin-top: 22px;
}